    <script type="text/javascript">
        $(document).ready(function () {
            var p = new singlepage();
            p.c = "Acc.Business.PUR.AcctruePUR.Controllers.AcctrueContractChangeController";
            p.applyTo = "t1";
            p.onCommandClick = function (command, form, item) {
                if (command == "edit") {
                    if (item.ISREVIEWED == true || item.ISSUBMITED == true) {
                        form.setdisabled(true);
                    }
                }
            }
            p.init();

        });
      </script>
<div id="t1"></div>

