    <script type="text/javascript">
        $(document).ready(function () {
            var p = new singlepage();
            p.c = "Acc.Business.WMS.Controllers.DifferenceController";
            p.applyTo = "t1";
            p.ishelp = false;
            p.onCommandClick = function (command, form, item) {
                if (command == "add" || command == "addroot") {
                    for (var i in form.griditems) {
                        var grid = form.griditems[i];
                        //grid.setdisabled(true);
                    }

                }
                if (command == "edit") {
                    form.setdisabled(true);
                    for (var i in form.griditems) {
                        var grid = form.griditems[i];
                        grid.setdisabled(true);
                    }
                }
            }
            p.init();
        });

      </script>
<div id="t1"></div>
