    <script type="text/javascript">
        $(document).ready(function () {
            var p = new singlepage();
            p.c = "Acc.Business.WMS.Controllers.LogisticsInfoController";
            p.applyTo = "t1";
            p.onCommandClick = function (command, form, item) {
                if (command == "edit") {
                    if (item.ISSUBMITED == true) {
                        form.setdisabled(true);
                    }
                }
            }
            p.init();

        });
      </script>
<div id="t1"></div>
