    <script type="text/javascript">
        $(document).ready(function () {
            var p = new treepage();
            p.c = "Acc.Business.WMS.Controllers.WareHouseController";
            p.applyTo = "t1";
            p.onCommandClick = function (command, form, item) {

                if (command == "add" || command == "addroot") {
              
                    for (var i in form.items) {
                        switch (form.items[i].field) {
    
                            case "PARENTID":
                                form.items[i].setdisabled(true);
                                break;
                        }
                    }
                }
                if (command == "edit") {
                    if (item.ISREVIEWED == true || item.ISSUBMITED == true) {
                        form.setdisabled(true);
                    }
                }
            }
            // 更改下拉框事件
            p.onFormSelect = function (form, box, item) {
                var a = box.val();
                if (box.field == "WHTYPE") {
                    if (a == "0") {
                        for (var i in form.items) {
                            switch (form.items[i].field) {
                                case "PARENTID":
                                    form.items[i].setdisabled(true);
                                    break;
                                default:
                                    form.items[i].setdisabled(false);
                                    break;
                            }
                        }
                    }
                    else {
                        for (var i in form.items) {
                            switch (form.items[i].field) {
                                case "PARENTID":
                                    form.items[i].setdisabled(false);
                                    break;

                            }
                        }
                    }

                }
            }
            p.init();
        });

        function openWindow(data) {
            window.hostWMS = data.item.ID;
            $("#t2").dialog({
                title: "" + data.item.WAREHOUSENAME + "",
                width: 1200,
                height: 620,
                maximizable: false,
                cache: false,
                href: "Views/WMS/WareHouse/test.htm"
            });
        }


      </script>
<div id="t1"></div>
<div id="t2"></div>
