* {
	scrollbar-face-color:#eeeeee;
	scrollbar-highlight-color:#5593d9;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-darkshadow-color:#ffffff;
	scrollbar-shadow-color:#5593d9;
	scrollbar-arrow-color:#5593d9;
	scrollbar-track-color:#eeeeee;}
body {
    margin:20px 0 0 20px;
    background:url(../../images/y_08.gif) #f4f7fb repeat-y;
    background-attachment: fixed;
    
}
.font-default {
	border-bottom: #000000 1px; border-left: #000000 1px; border-right: #000000 1px; border-top: #000000 1px; font-family: "ו"; font-size: 9pt
}
a.a-favMenu:link {
	color: #425a8f; text-decoration: none
}
a.a-favMenu:visited {
	color: #425a8f; text-decoration: none
}
a.a-favMenu:active {
	color: #425a8f; text-decoration: none
}
a.a-favMenu:hover {
	text-decoration: underline
}
td {
	font-size: 12px;
	valign: baseline;
}
.title0 {font-size:14px;margin:5px 0 0 25px;}
.title1 {font-size:12px;margin:8px 0 0 45px;}
.title2 {font-size:12px;margin:8px 0 0 65px;}
.title3 {font-size:12px;margin:8px 0 0 85px;}