<script type="text/javascript">
    $(document).ready(function () {
        var data = new datasource();
        data.c = "Acc.Business.AcctruePRO.Controllers.PROCrudeMaterialsController";
        ///加载
        if (window.FID) {
            var result = data.post("Merge", "CrudeMaterialsID=" + window.FID + "");
            var hq = $('<div id="aaa" style="width: 1105px; height: 1200px; margin-bottom:20px"></div>');
            var jt = null;

            for (var i = 0; i < result.length; i++) {
                jt = $("<div id=\"" + result[i].FNAME + "\"  style=\"padding: 20px;\">" + result[i].FNAME + result[i].Code + result[i].FMODEL + result[i].BATCH + result[i].STATUS + result[i].Createdby + "</div>");
                $(jt).appendTo($(hq))
            }
            var anniu = $('<button id="aae"  onclick="aaaa(' + result[0].FNAME + ')" >确定合并</button>');
            $(anniu).appendTo($("#tt"));
            $(hq).appendTo($("#tt"));
        }

    });

    ///查询仓库
    function aaaa($obj) {
        var data = new datasource();
        data.c = "Acc.Business.AcctruePRO.Controllers.PROCrudeMaterialsController";
        data.post("Merge1", "CrudeMaterialsID=" + window.FID + "");
        $("#aaa").hide();
        alert("合并成功，关闭！");
    }


</script>
<style type="text/css">
    .hw1Class
    {
        background-color:#AAEEBE;
        color:Black;    
    }
        .hw2Class
    {
        background-color:#FDAFEA;
        color:Black;    
    }
        .hw3Class
    {
        background-color:#FDA342;
        color:Black;    
    }
</style>

<!--显示货位-->

<div id="ck" style="position: relative; overflow: hidden; border: 0px solid #ccc;
    width: auto; height: auto; margin-bottom: 10px; margin-top: 10px; margin-left: 20px;">
</div>
<div id="tt" style="position: relative; overflow: hidden; border: 0px solid #ccc;
    width: auto; height: auto; margin-left: 20px;">
</div>
<div id="depots" style="position: relative; overflow: hidden; border: 0px solid #ccc;
    width: auto; height: auto; margin-left: 20px;">
</div>
<div id="p-tools">
    <a href="#" class="icon-mini-add" onclick="alert('add')"></a><a href="#" class="icon-mini-edit"
        onclick="alert('edit')"></a><a href="#" class="icon-mini-refresh" onclick="alert('refresh')">
        </a>
</div>
<div id="infoAlert"></div>

<div id="test"></div>