<script type="text/javascript" src="../../Scripts/upload/jquery.upload.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var p = new singlepage();
            p.c = "Acc.Business.Controllers.SystemModelController";
            p.applyTo = "t1";
            p.showfooter = false;
            p.ischildfooter = false;
            p.init();

        });
        function uploadDll(data) {
            $.upload({
                // 上传地址
                url: webjs.filepost,
                // 其他表单数据
                params: { d: 'c' },
                // 文件域名字
                fileName: 'filedata',
                // 上传完成后, 返回json, text
                dataType: 'json',
                // 上传之前回调,return true表示可继续上传
                onSend: function () {
                    return true;
                },
                // 上传之后回调
                onComplate: function (file) {
                    if (file) {
                        var name = file[0];
                        if (name) {
                            data.sender.datasource.submit(data.command, "file=" + name, function (e) {
                                if (e && e.error) {
                                    $.messager.alert('异常', e.errormsg, 'error');
                                }
                                else {
                                    data.sender.datasource.load("FilePath=" + name);
                                    $.messager.show({ title: '消息', msg: '上传完成。', showType: 'show' });
                                }
                            });
                        }
                    }
                }
            });
            return false;
        }
      </script>
<div id="t1"></div>

